
body{
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#2e2f42;
}

a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

a:hover,
a:focus{
    color: #404bbf;
}

button{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

button:hover,
button:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.container{
    /* max-width:1158px; */
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin:0 auto;
}
@media screen and (min-width:320px) {
/* ==================HEADER================== */
.header-navigation{
    display: flex;
    align-items: center;
}

.container {
    width: 320px;
}

.header{
    /* padding-top: 24px;
    padding-bottom: 24px; */
    border-bottom: 1px solid #e7e9fc;
    /* width: 1440px; */
    /* width: 320px; */
    /* height: 72px; */
    /* height: 56px; */
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 1px 6px rgba(46, 47, 66, 0.08);
    /* max-width: 320px; */
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: left;
    /* margin-right: 76px;
    margin-bottom: 24px; */
    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px; */
}

.header-menu-link-studio {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    display: block;
}

.logo-blue{
    color: #2e2f42;
}

.header-menu-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* display: flex; */
    display: none;
    gap: 40px;
    align-items: center;
}

.header-contact-list{
    /* display: flex; */
    display: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}

.header-contact-link{
    color: #434455;
}

.header-container{
    display: flex;
}

.header-menu-link-studio::after{
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.menu-open-btn{
    display: block;
margin-left: auto;
    border: none;
    background-color: transparent;
    /* padding-top: 16px;
    padding-bottom: 16px; */
}
.menu-open-btn:hover,
.menu-open-btn:focus{
    background-color: transparent;
    box-shadow: none;

}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.mob-contact-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-social-list {
    margin-top: 48px;
    display: flex;
    gap: 40px;
}


.mob-social-icon {
    fill: #f4f4fd;
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon {
    fill: #2e2f42;
}


.mob-social-icon:hover,
.mob-social-icon:focus {
    background-color: #31d0aa;
}

/* ==================================== */
/* ==================HERO================== */


.hero{
    background: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 432px; */
}

.hero-title{
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    /* line-height: 1.07; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    /* max-width: 115px; */
    margin: 0 auto;

}

.hero-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border:none;
    cursor: pointer;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    /* margin-top: 58px; */
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

/* ==================================== */
/* ==================FEATURES================== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-icons{
    /* border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center; */
    display: none;
}



.features-subtitle{
    font-weight: 500;
    /* font-size: 20px; */
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* margin-bottom: 18px; */
    margin-bottom: 8px;
    text-align: center;
}

.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features{
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.features-item{
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 100%;
}

.features-icon{
    display: none;
}



/* ==================================== */
/* ==================TEAM================== */
.team{
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 12px;
    padding-right: 12px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-list{
    display: flex;
    justify-content: center;
}
.team-wrap{
    padding-top: 32px;
    padding-bottom: 32px;
}



.team-social-item:not(:last-child){
    margin-right: 24px;
}

.team-social-icon{
width: 40px;
height: 40px;
background-color:#4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon:hover,
.team-social-icon:focus{
    background-color: #31d0aa;
}

.team-item{
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}
/* ==================================== */
/* ==================PORTFOLIO================== */
.portfolio{
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item{
    /* width: 360px;
    height: 420px; */
    width: 288px;
    border: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    border: none;
}
.portfolio-description{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.portfolio-item:hover{
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 48px 24px; */
    gap: 48px;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.portfolio-img{
    width: 288px;
    height: 280px;
    object-fit: cover;
}


.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 300px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text{
    transform: translateY(0);
}
/* ==================================== */
/* ==================FOOTER================== */
.footer{
    background-color:#2e2f42;;
    display: block;
    padding-top: 103px;
    padding-bottom: 96px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-logo {
    /* display: inline-block; */
    /* margin-bottom: 16px; */
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    margin: o auto;
    text-align: center;
}


.logo-white{
    color: #f4f4fd;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    /* max-width: 264px; */
    max-width: 288px;
    text-align: left;
}

.footer-social-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-social-list {
    display: flex;
    /* padding-bottom: 32px; */
    gap: 16px;
    justify-content: center;
}
.footer-social-wrap{
margin: 0 auto;
}
.footer-description-and-social{
    margin-bottom: 72px;
}
.footer-description{
    /* margin-right: 120px; */
    margin-bottom: 65px;
}

/* .footer-social-item:not(:last-child) {
    margin-right: 16px;
} */

.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31d0aa;
}

.footer-form-send{
    display: flex;
    flex-direction: column;
    /* margin-left: 80px; */
    width: 100%;
    align-items: center;
}

.footer-form{
    display: flex;
    flex-direction: column;
}

.footer-input{
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
}
input::placeholder {
    color: #ffffff;
}

.footer-input:focus {
    border-color: #4d5ae5;
}


.footer-form-button{
    border-radius: 4px;
    /* padding: 8px 24px; */
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
margin-top: 16px;
}

.footer-icon-send{
    fill: #fff;
    margin-left: 16px;
}

/* ==================================== */
/* ==================MODAL================== */

.backdrop{
    position: fixed;
    top: 0;
    background-color:rgba(46, 47, 66, 0.4);;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    border: none;
}

.modal-icon-close{
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-icon-close,
.modal-close:focus .modal-icon-close {
    fill: #ffffff;
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 48px;
    margin-bottom: 16px;
}


.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 8px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4d5ae5;
}


.modal-input:focus + .modal-icon{
    fill:#4d5ae5;
}

.modal-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon{
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap{
    position: relative;
    margin-bottom: 8px;
}

.modal-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-input-icon {
    position: relative;
}

.modal-button{
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.modal-check:checked+.check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-field {
    margin-bottom: 16px;
}

.checkbox {
    margin-bottom: 24px;
}

.check-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    fill: transparent;
    margin-bottom: 24px;
}

.check-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 5px;
}

.modal-text:focus {
    border-color: #4d5ae5;
}
}
@media screen and (min-width:768px) {
    .container {
        width:768px;
    }


    .header-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        }



.header-menu-list {
    display: flex;
    padding-top: 0;

}

.menu-open-btn {
    display: none;
}

.logo {
    padding: 0;
    margin-right: 76px;
}

.header {
    padding-top: 0;
    padding-bottom: 0;
}

.header-contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
}
.address-header-contact{
    margin-left: auto;
}


    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        margin: 0 auto;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;

}
    .hero-btn {
        margin-top: 36px;
}

    .features-item {
        width: calc((100% - 24px) / 2);
}
    .features-list {

        gap: 24px;
    }
    .features-subtitle {
        font-weight: 700;
        font-size: 36px;
        text-align: left;
    }
.team {
    padding: 96px 0;
}

.team-list {
    gap: 64px 24px;
    justify-content: center;
}

.portfolio-list {
    gap: 72px 24px;
    }

.portfolio-item {
    width: 356px;
}
.portfolio-img {
    width: 356px;
    height: 300px;
}
footer .container{
    padding-left: 108px;
    padding-right: 164px;
}
.footer{
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-logo{
    text-align: start;
}
.footer-description-and-social{
    display: flex;
    flex-direction: row;
}

.footer-description{
    max-width: 264px;
    margin-bottom: 0;
    margin-right: 24px;

}


.footer-social-wrap{
    margin: 0;
}

.footer-social-text {
    text-align: left;
}

.footer-form {
    flex-direction: row;
}
.footer-form-send {
    align-items: flex-start;
    /* margin-top: 72px; */
}

.footer-form-button {
    margin-top: 0;
    margin-left: 24px;
}


}


@media screen and (min-width:1158px) {
    .container{
        width: 1158px;
    }

    .header-contact-list{
        margin-left: auto;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.png);
    }
.header-menu-list{
    padding-top: 0;
}
.address-header-contact{
    margin-left: auto;
}
.header-contact-list {
    display: flex;
    flex-direction: row;
}

.hero{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}


.features-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .features-subtitle {
        font-size: 20px;
        margin-bottom: 18px;
}
    .features {
        padding-top: 120px;
        padding-bottom: 120px; 
}
    .features-list {
        gap: 24px;
}

    .team{
        padding-top: 120px;
        padding-bottom: 120px;
}

.team-list {
    gap:  24px;
    justify-content: center;
    flex-wrap: nowrap;
}

.portfolio-list {
    gap: 48px 24px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
footer .container{

    display: flex;
    flex-direction: row;

}
.footer-text {
max-width: 264px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}
.features-icon {
    display: flex;
}
footer .container {
    padding-left: 0;
    padding-right: 0;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-description{
    margin: 0;
    margin-right: 120px;
}
.footer-text{
    min-width: 264px;
}
.footer-social-list{
    margin: 0;
    margin-right: 0;
}
.footer-input{
    max-width: 264px;
}
.footer-description-and-social {
margin-right: 80px;
margin-bottom: 0;
}
.footer-form-send {
    margin-top: 0;
}

}
